.character {
  margin: 10px;
  background: var(--sky-color);
  height: 97%;
  border-radius: 5px;
  overflow: hidden;
}

.character__image {
  width: 100%;
}

.character__name {
  margin-left: 10px;
}

.character-details {
  list-style-type: '⛛';
}

.character-details__items {
  padding-left: 5px;
}

